:root {
  --color-brand-50: #fbfdfd;
  --color-brand-100: #e7f5f4;
  --color-brand-200: #b0dfdc;
  --color-brand-300: #7bcbc5;
  --color-brand-400: #42b6ad;
  --color-brand-500: #00a69b;
  --color-brand-600: #009689;
  --color-brand-700: #00796b;
  --color-brand-800: #00695c;
  --color-brand-opacity-5: #42b6ad0d;
  --color-brand-opacity-8: #42b6ad14;
  --color-brand-opacity-10: #42b6ad1a;
  --color-brand-opacity-20: #42b6ad33;
  --color-brand-opacity-30: #42b6ad4d;
  --color-brand-opacity-40: #42b6ad66;
  --color-brand-opacity-50: #42b6ad80;
  --color-brand-opacity-60: #42b6ad99;
  --color-brand-opacity-70: #42b6adb3;
  --color-brand-opacity-80: #42b6adcc;
  --color-brand-opacity-90: #42b6ade6;
  --color-white: #fbfdfd;
  --color-brand-invert-100: #215b56;
  --color-brand-invert-200: #1a4845;
  --color-brand-invert-300: #133633;
  --color-brand-invert-400: #0d2422;
  --color-brand-invert-500: #061211;
  --color-brand-invert-600: #000000;
  --color-black: #0e1012;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #e9ecf0;
  --color-neutral-300: #d4dae2;
  --color-neutral-400: #bec7d4;
  --color-neutral-500: #a9b5c6;
  --color-neutral-600: #94a3b8;
  --color-neutral-700: #768293;
  --color-neutral-800: #58616e;
  --color-neutral-900: #3b4149;
  --color-neutral-1000: #222633;
  --color-neutral-opacity-8: #383b4714;
  --color-neutral-opacity-10: #383b471a;
  --color-neutral-opacity-12: #383b471f;
  --color-neutral-opacity-15: #383b471a;
  --color-neutral-opacity-20: #383b4733;
  --color-neutral-opacity-30: #383b474d;
  --color-neutral-opacity-40: #383b4766;
  --color-neutral-opacity-50: #383b4780;
  --color-neutral-opacity-60: #383b4799;
  --color-neutral-opacity-70: #383b47b3;
  --color-neutral-opacity-80: #383b47cc;
  --color-neutral-opacity-90: #383b47e6;
  --radius-4xl: 32px;
  --radius-2xl: 16px;
  --radius-xl: 12px;
  --radius-3xl: 24px;
  --radius-md: 6px;
  --radius-sm: 4px;
  --radius-full: 9999px;
  --radius-lg: 8px;
  --radius-xs: 2px;
  --radius-none: 0px;
  --border-width-0: 0px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-4: 4px;
  --border-width-8: 8px;
  --opacity-0: 0px;
  --opacity-5: 5px;
  --opacity-10: 10px;
  --opacity-15: 15px;
  --opacity-20: 20px;
  --opacity-25: 25px;
  --opacity-30: 30px;
  --opacity-35: 35px;
  --opacity-40: 40px;
  --opacity-45: 45px;
  --opacity-50: 50px;
  --opacity-55: 55px;
  --opacity-60: 60px;
  --opacity-65: 65px;
  --opacity-70: 70px;
  --opacity-75: 75px;
  --opacity-80: 80px;
  --opacity-85: 85px;
  --opacity-90: 90px;
  --opacity-95: 95px;
  --opacity-100: 100px;
  --blur-xl: 24px;
  --blur-3xl: 64px;
  --blur-2xl: 40px;
  --blur-lg: 16px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-xs: 4px;
  --blur-none: 0px;
  --spacing-0: 0px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-28: 112px;
  --spacing-32: 128px;
  --spacing-36: 144px;
  --spacing-40: 160px;
  --spacing-44: 176px;
  --spacing-48: 192px;
  --spacing-52: 208px;
  --spacing-56: 224px;
  --spacing-60: 240px;
  --spacing-64: 256px;
  --spacing-72: 288px;
  --spacing-80: 320px;
  --spacing-96: 384px;
  --spacing-1-5: 6px;
  --spacing-0-5: 2px;
  --spacing-2-5: 10px;
  --spacing-3-5: 14px;
  --spacing-px: 1px;
  --font-family-sans: Google Sans;
  --font-style-not-italic: normal;
  --font-style-italic: italic;
  --font-weight-black: 900;
  --font-weight-extrabold: 800;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-extralight: 200;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-thin: 100;
  --font-leading-3: 12px;
  --font-leading-4: 16px;
  --font-leading-5: 20px;
  --font-leading-6: 24px;
  --font-leading-7: 28px;
  --font-leading-8: 32px;
  --font-leading-9: 36px;
  --font-leading-10: 40px;
  --font-leading-12: 44px;
  --font-leading-13: 48px;
  --font-leading-14: 52px;
  --font-leading-15: 56px;
  --font-leading-16: 60px;
  --font-leading-17: 64px;
  --font-size-6xl: 60px;
  --font-size-5xl: 48px;
  --font-size-4xl: 36px;
  --font-size-lg: 18px;
  --font-size-3xl: 30px;
  --font-size-base: 16px;
  --font-size-8xl: 96px;
  --font-size-xl: 20px;
  --font-size-7xl: 72px;
  --font-size-9xl: 128px;
  --font-size-2xl: 24px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-2xs: 11px;
 
  --typography-font-family-default: Google Sans;
  --typography-display-large-weight: 500;
  --typography-display-large-size: 60px;
  --typography-display-medium-size: 48px;
  --typography-display-medium-weight: 500;
  --typography-display-small-size: 36px;
  --typography-display-small-weight: 500;
  --typography-headline-large-size: 36px;
  --typography-headline-large-weight: 400;
  --typography-headline-medium-size: 30px;
  --typography-headline-medium-weight: 400;
  --typography-headline-small-size: 24px;
  --typography-headline-small-weight: 400;
  --typography-title-large-size: 24px;
  --typography-title-large-weight: 400;
  --typography-title-medium-size: 18px;
  --typography-title-medium-weight: 500;
  --typography-title-small-size: 16px;
  --typography-title-small-weight: 500;
  --typography-body-large-size: 18px;
  --typography-body-large-weight: 400;
  --typography-body-medium-size: 16px;
  --typography-body-medium-weight: 400;
  --typography-body-small-size: 14px;
  --typography-body-small-weight: 400;
  --typography-label-large-size: 18px;
  --typography-label-large-weight: 500;
  --typography-label-medium-size: 16px;
  --typography-label-medium-weight: 500;
  --typography-label-small-size: 14px;
  --typography-label-small-weight: 500;
  --typography-label-prominent-large-size: 18px;
  --typography-label-prominent-large-weight: 700;
  --typography-label-prominent-medium-size: 16px;
  --typography-label-prominent-medium-weight: 700;
  --typography-label-prominent-small-size: 14px;
  --typography-label-prominent-small-weight: 700;
  --color-surface-container-primary-state-hovered: #383b4714;
  --color-surface-container-primary-state-pressed: #383b471a;
  --color-surface-container-primary-state-focused: #383b471a;
  --color-surface-container-primary-state-disabled: #383b471a;
  --color-surface-container-primary-level-2: #e7f5f4;
  --color-surface-container-primary-level-1: #fbfdfd;
  --color-surface-container-primary-level-3: #e9ecf0;
  --color-surface-container-brand-state-hovered: #42b6ad14;
  --color-surface-container-brand-state-pressed: #42b6ad1a;
  --color-surface-container-brand-state-focused: #42b6ad1a;
  --color-surface-container-brand-level-1: #00695c;
  --color-surface-container-brand-inverted-state-hovered: #383b4714;
  --color-surface-container-brand-inverted-state-pressed: #383b471a;
  --color-surface-container-brand-inverted-state-focused: #383b471a;
  --color-surface-container-brand-inverted-level-1: #00695c;
  --color-surface-container-brand-secondary-state-hovered: #383b4714;
  --color-surface-container-brand-secondary-state-pressed: #383b471a;
  --color-surface-container-brand-secondary-state-focused: #383b471a;
  --color-surface-container-brand-secondary-level-1: #e7f5f4;
  --color-surface-container-backdrop: #0e101299;
  --color-surface-container-primary-inverted: #3b4149;
  --color-content-neutral-black: #0e1012;
  --color-content-neutral-primary: #58616e;
  --color-content-neutral-white: #fbfdfd;
  --color-content-neutral-secondary: #768293;
  --color-content-state-empty: #bec7d4;
  --color-content-state-disabled: #bec7d4;
  --color-content-brand-primary: #00695c;
  --color-content-brand-secondary: #00796b;
  --color-content-brand-tertiary: #009689;
  --color-border-brand: #42b6ad;
  --color-border-neutral: #e9ecf0;
  --radius-main: 9999px;
  --radius-bg: 24px;
  --radius-item: 12px;
  --radius-container: 16px;
 
  --icon-button-shared-spacing-size-16-p: 4px;
  --icon-button-shared-spacing-size-20-p: 14px;
  --icon-button-shared-spacing-size-24-p: 12px;
  --icon-button-shared-spacing-size-40-p: 20px;
  --icon-button-shared-border-width: 1px;
  --icon-button-shared-border-radius: 9999px;
  --icon-button-primary-content: #58616e;
  --icon-button-primary-bg-state-hovered: #383b4714;
  --icon-button-primary-bg-state-pressed: #383b471a;
  --icon-button-primary-bg-state-focused: #383b471a;
  --icon-button-brand-bg-state-hovered: #42b6ad14;
  --icon-button-brand-bg-state-pressed: #42b6ad1a;
  --icon-button-brand-bg-state-focused: #42b6ad1a;
  --icon-button-brand-content: #00695c;
  --icon-button-brand-inverted-bg-state-hovered: #383b4714;
  --icon-button-brand-inverted-bg-state-pressed: #383b471a;
  --icon-button-brand-inverted-bg-state-focused: #383b471a;
  --icon-button-brand-inverted-bg-default: #00695c;
  --icon-button-brand-inverted-content: #fbfdfd;
  --dropdown-input-primary-label: #0e1012;
  --dropdown-input-primary-bg-state-hovered: #383b4714;
  --dropdown-input-primary-bg-state-pressed: #383b471a;
  --dropdown-input-primary-bg-state-focused: #383b471a;
  --dropdown-input-primary-icon: #58616e;
  --dropdown-input-radius: 9999px;
  --dropdown-input-shared-size-36-spacing-gap: 8px;
  --dropdown-input-shared-size-36-spacing-p-x: 12px;
  --dropdown-input-shared-size-36-spacing-p-y: 8px;
  --dropdown-input-shared-size-48-spacing-gap: 8px;
  --dropdown-input-shared-size-48-spacing-p-x: 14px;
  --dropdown-input-shared-size-48-spacing-p-y: 14px;
  --dropdown-input-secondary-icon: #58616e;
  --dropdown-input-secondary-bg-state-hovered: #383b4714;
  --dropdown-input-secondary-bg-state-pressed: #383b471a;
  --dropdown-input-secondary-bg-state-focused: #383b471a;
  --dropdown-input-secondary-bg-state-disabled: #383b471a;
  --dropdown-input-secondary-bg-default: #fbfdfd;
  --dropdown-input-secondary-label-default: #0e1012;
  --dropdown-input-secondary-label-disabled: #bec7d4;
  --dropdown-input-tertiary-icon: #58616e;
  --dropdown-input-tertiary-bg-state-hovered: #383b4714;
  --dropdown-input-tertiary-bg-state-pressed: #383b471a;
  --dropdown-input-tertiary-bg-state-focused: #383b471a;
  --dropdown-input-tertiary-bg-default: #e9ecf0;
  --dropdown-input-tertiary-label: #0e1012;
  --topbar-shared-spacing-p-x: 4px;
  --topbar-shared-spacing-p-y: 8px;
  --topbar-shared-spacing-gap: 4px;
  --topbar-shared-spacing-p-l: 12px;
  --topbar-content-icon: #00796b;
  --topbar-content-label: #0e1012;
  --page-bg-primary: #fbfdfd;
  --page-spacing-p-x: 4px;
  --page-spacing-p-y: 8px;
  --page-spacing-gap-desktop-component-btw-component: 16px;
  --page-spacing-desktop-p: 16px;
  --page-radius: 16px;
  --text-box-shared-spacing-p-x-text-box: 12px;
  --text-box-shared-spacing-p-x-divider: 28px;
  --text-box-shared-spacing-p-y: 8px;
  --text-box-shared-spacing-gap-text-btw-text: 4px;
  --text-box-shared-spacing-gap-text-box: 16px;
  --text-box-shared-spacing-gap-text-btw-component: 24px;
  --text-box-content-title-enabled: #0e1012;
  --text-box-content-title-selected: #00695c;
  --text-box-content-body-state-empty: #bec7d4;
  --text-box-content-body-state-enabled: #0e1012;
  --text-box-content-body-state-typing: #00695c;
  --text-box-content-body-state-selected: #00695c;
  --text-box-content-icon-enabled: #58616e;
  --text-box-content-icon-selected: #00796b;
  --divider-color-brand: #42b6ad;
  --divider-color-primary: #e9ecf0;
  --divider-width: 1px;
  --chip-brand-content-icon: #00695c;
  --chip-brand-content-label: #00695c;
  --chip-brand-bg-state-hovered: #42b6ad14;
  --chip-brand-bg-state-pressed: #42b6ad1a;
  --chip-brand-bg-state-focused: #42b6ad1a;
  --chip-radius: 9999px;
  --chip-shared-size-26-spacing-gap: 6px;
  --chip-shared-size-26-spacing-p-x: 8px;
  --chip-shared-size-26-spacing-p-y: 4px;
  --chip-shared-size-36-spacing-gap: 6px;
  --chip-shared-size-36-spacing-p-x: 12px;
  --chip-shared-size-36-spacing-p-y: 8px;
  --chip-primary-content-icon: #0e1012;
  --chip-primary-content-label: #0e1012;
  --chip-primary-bg-state-hovered: #383b4714;
  --chip-primary-bg-state-pressed: #383b471a;
  --chip-primary-bg-state-focused: #383b471a;
  --chip-brand-secondary-content-icon: #00796b;
  --chip-brand-secondary-content-label: #00695c;
  --chip-brand-secondary-bg-state-hovered: #383b4714;
  --chip-brand-secondary-bg-state-pressed: #383b471a;
  --chip-brand-secondary-bg-state-focused: #383b471a;
  --chip-brand-secondary-bg-default: #e7f5f4;
  --bottom-bg: #e7f5f4;
  --bottom-shared-spacing-gap-swap: 4px;
  --bottom-shared-spacing-gap-content: 24px;
  --bottom-shared-spacing-p-x-swap: 12px;
  --bottom-shared-spacing-p-x-content: 4px;
  --bottom-shared-spacing-p-b: 32px;
  --bottom-shared-spacing-p-t: 20px;
  --bottom-shared-radius: 24px;
  --loading-bg-first: #42b6ad33;
  --loading-bg-last: #42b6ad1a;
  --loading-radius: 9999px;
  --dropdown-menu-item-shared-spacing-p-x: 12px;
  --dropdown-menu-item-shared-spacing-gap: 8px;
  --dropdown-menu-item-shared-radius: 12px;
  --dropdown-menu-item-shared-content-title: #0e1012;
  --dropdown-menu-item-shared-content-icon: #58616e;
  --dropdown-menu-item-shared-content-description: #768293;
  --dropdown-menu-item-state-hovered: #383b4714;
  --dropdown-menu-item-state-pressed: #383b471a;
  --dropdown-menu-item-state-focused: #383b471a;
  --dropdown-menu-menu-bg: #fbfdfd;
  --dropdown-menu-menu-spacing-p-x: 4px;
  --dropdown-menu-menu-spacing-p-y: 2px;
  --dropdown-menu-menu-radius: 16px;
  --dropdown-menu-menu-border-width: 1px;
  --dropdown-menu-menu-border-color: #e9ecf0;
  --dropdown-menu-title-color: #58616e;
  --dropdown-menu-title-gap: 8px;
  --sheet-bg-body-mobile: #e7f5f4;
  --sheet-bg-body-desktop: #fbfdfd;
  --sheet-bg-header: #fbfdfd;
  --sheet-spacing-p-y-sheet: 16px;
  --sheet-spacing-p-x-sheet: 12px;
  --sheet-spacing-p-x-divider: 14px;
  --sheet-spacing-p-t-mobile-search: 0px;
  --sheet-spacing-p-t-desktop-search: 12px;
  --sheet-spacing-p-b-mobile-search: 12px;
  --sheet-spacing-p-b-desktop-search: 12px;
  --sheet-spacing-p-l-title: 16px;
  --sheet-radius: 12px;
  --input-radius: 9999px;
  --input-size-40-spacing-gap: 8px;
  --input-size-40-spacing-p-x: 12px;
  --input-size-40-spacing-p-y: 8px;
  --input-size-52-spacing-gap: 8px;
  --input-size-52-spacing-p-x: 14px;
  --input-size-52-spacing-p-y: 14px;
  --input-tertiary-icon: #58616e;
  --input-tertiary-bg-default: #e9ecf0;
  --input-tertiary-label-empty: #bec7d4;
  --input-tertiary-label-default: #0e1012;
  --backdrop-bg: #0e101299;
  --tooltip-label: #fbfdfd;
  --tooltip-bg: #3b4149;
  --tooltip-border-radius: 12px;
  --tooltip-spacing-p-x: 10px;
  --tooltip-spacing-p-y: 8px;
  --snackbar-label: #fbfdfd;
  --snackbar-bg: #3b4149;
  --snackbar-border-radius: 12px;
  --snackbar-spacing-p-x: 16px;
}